@font-face {
    font-family: 'Muli';
    font-style: normal;
    font-weight: 400;
    src: local('Muli Regular'), local('Muli-Regular'), url('../webfonts/Muli-Regular.ttf') format('ttf');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }

  .kipozicional a {position:absolute; left:-9999px;}				/* kipozícionáljuk a képernyőről a blokkot */
  .kipozicional a:focus {position:static; background:white}		/* ha fókuszt kap az elem, akkor viszont legyen statikus megjelenésű */
  /*A fenti elemek a "Blokkok elkerülése" című akadálymentességi elvhez kapcsolódnak*/

/* Bootstrap */

.text-right{
    text-align: right;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  @media (prefers-reduced-motion: reduce) {
    .form-control {
      transition: none;
    }
  }
  
  .form-control::-ms-expand {
    background-color: transparent;
    border: 0;
  }
  
  .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  
  .form-control::-webkit-input-placeholder {
    color: #6c757d;
    opacity: 1;
  }
  
  .form-control::-moz-placeholder {
    color: #6c757d;
    opacity: 1;
  }
  
  .form-control:-ms-input-placeholder {
    color: #6c757d;
    opacity: 1;
  }
  
  .form-control::-ms-input-placeholder {
    color: #6c757d;
    opacity: 1;
  }
  
  .form-control::placeholder {
    color: #6c757d;
    opacity: 1;
  }

  textarea.form-control {
    height: auto;
  }
  
  .form-group {
    margin-bottom: 1rem;
  }

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  @media (prefers-reduced-motion: reduce) {
    .btn {
      transition: none;
    }
  }

  a.btn {
      text-decoration: none;
  }

  .btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .btn-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
  }
  
  .btn-primary:focus, .btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
  }
  
  .btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
  }
  
  .btn-secondary:hover {
    color: #fff;
    background-color: #5a6268;
    border-color: #545b62;
  }
  
  .btn-secondary:focus, .btn-secondary.focus {
    box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
  }

  .img-fluid {
    max-width: 100%;
    height: auto;
  }

  /* Bootstrap VÉGE */

body {
    margin: 0;
    font-family: Muli, Arial, Helvetica, sans-serif;
}

nav {
    position: absolute;
    top: 1em;
    right: 0;
}

nav a {
    text-align: center;
    text-decoration: none;
    margin-right: .5em;
    color: #fff;
    
}

nav a.gyengenlato{
  color: #ff0;
  font-size: 1.2em;
  padding: .5em;
  border-radius: .5em;
  background-color: #000;
}

nav a.active {
    background-color: #024292;
    padding: .5em;
    border-radius: .5em;
}


nav::after{
    content: "";
    clear: both;
    display: table;
}

@media only screen and (max-width: 400px){
    nav {
        display: none;
    }
}

figure{
    margin: .2em;
}

figure figcaption{
    text-align: center;
}

#home header {
    background-image: url("../img/bg.jpg");
    min-height: 480px;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: #fff;
    padding: 10px;
    word-wrap: break-word;
}

#home header img {
    width: 100%;
    max-width: 160px;
    height: auto;
    margin: 0 auto;
}

#home header h1{
    margin: 0;
}

#home header h1>span {
    font-size: 80%;
    font-weight: 400;
}


.my-info {
    background-color: #0072ff;
    background: linear-gradient(180deg,#0072ff 60%,#fff 0,#fff);
    color: #f8f8ff;
    padding: 40px 0;
}

.my-info .info-box{
    margin: 0 5px;
    padding: 20px 0;
    background-color: #fff;
    color: #0072ff;
    border-radius: 1rem;
    box-shadow: 3px 1px 8px 1px #454655;
    box-shadow: 0 3px 5px 0 rgba(0,1,1,.1);
}

.my-info .info-box .title{
    text-align: center;
}

.my-info .info-box .title i{
    font-size: 1.5em;
}
.my-info .info-box .title h2{
    margin-top: .2em;
}

.my-info .info-box .content {
    text-align: center;
    color: #000;
    padding: 0 10px;
}

.info-box .col-12 {
    border-left: 1px solid rgba(169,170,188,.356);
}

.info-box .col-12:first-child {
    border-left: none;
}

section .header{
    text-align: center;
    padding: 2em 0;
}

section .header h3 {
    margin: 0;
}

section.about-me{
  padding-bottom: 32px;
}

#referenciak>.header,
#projektek>.header{
    background-color: #0068e8; /* Kontasztosabb! */
    color: #fff;
}


.box {
    border-radius: 1rem;
    height: 12em;
    margin: 1.3em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .box img {
    padding-bottom: 1em;
  }

  .box.labonbon {
    background-color: #eddfe5;
  }
/*
  .box.labonbon .btn {
    color: #D97888;
    border-color: #D97888;
  }
  .box.labonbon .btn:hover {
    color: #fff;
    background-color: #D2B99B;
    border-color: rgba(210, 185, 155, 0.829);
  }
  
  .box.labonbon .btn:focus, .box.labonbon .btn.focus {
    box-shadow: 0 0 0 0.2rem rgba(210, 185, 155, 0.788);
  } 
  */
  .box.labonbon>a{
    /* color: #D97888; */
    color: #ae3749;
  }
  .box.labonbon>a:visited{
    color: #ae3749;
  }
  .box.petofi-aszod{
    background-color: #991417;
    color: #fff;
  }
  /*
  .box.petofi-aszod .btn {
    color: #fff;
    border-color: #fff;
  }
  .box.petofi-aszod .btn:hover {
    color: #fff;
    background-color: #2D3A64;
    border-color: #2D3A64;
  }
  .box.petofi-aszod .btn:focus, .box.petofi-aszod .btn.focus {
    box-shadow: 0 0 0 0.2rem rgb(69, 91, 163);
  } 
  */
  .box.petofi-aszod>a{
    color: #fff;
  }
  .box.petofi-aszod>a:visited{
      color: #f7cccc;
  }


  .box.kreativ-otletek {
    background-color: #ede3c9;
  }
  /*
  .box.kreativ-otletek .btn {
    color: #37352F;
    border-color: #37352F;
  }
  .box.kreativ-otletek .btn:hover {
    color: #fff;
    background-color: rgb(61, 59, 52);
    border-color: #37352F;
  }
  .box.kreativ-otletek .btn:focus, .box.kreativ-otletek .btn.focus {
    box-shadow: 0 0 0 0.2rem rgba(61, 59, 52,0.8);
  } 
  */
  .box.kreativ-otletek>a{
    color: #37352F;
  }
  .box.kreativ-otletek>a:visited{
      color: #8c897f;
  }
  
.box.lgelegancia{
    /* background-color: rgb(82, 82, 82); */
    background-color: #383838;
    color: #fff;
}
/*
.box.lgelegancia .btn {
    color: #fff;
    border-color: #fff;
  }
  .box.lgelegancia .btn:hover {
    color: #fff;
    background-color: #AB171A;
    border-color: #AB171A;
  }
  .box.lgelegancia .btn:focus, .box.lgelegancia .btn.focus {
    box-shadow: 0 0 0 0.2rem rgb(212, 34, 37);
  } 
  */

  .box.lgelegancia>a{
      /* color: #e84144; */
      color: #f48285;
  }
  .box.lgelegancia>a:visited{
      color: #AB171A;
  }

  .box.itnyelven {
    /* background-color: #2a479e; */
    background-color: #2a479e;
    color: #fff;
  }
 /*
  .box.itnyelven .btn {
    color: #fff;
    border-color: #fff;
  }
  .box.itnyelven .btn:hover {
    color: #fff;
    background-color: #53afdc;
    border-color: #53aedce5;
  }
  .box.itnyelven .btn:focus, .box.itnyelven .btn.focus {
    box-shadow: 0 0 0 0.2rem #53aedcd0;
  }
  */
  
  .box.itnyelven>a{
    color: #fff;
  }

  .box.itnyelven>a:visited{
    color:  #53afdc;
  }

  .box.valutabot {
    background-color: #e8e8ea;
  }
  /*
  .box.valutabot .btn {
    color: #6c757d;
    border-color: #6c757d;
  }
  .box.valutabot .btn:hover {
    color: #fff;
    background-color: #5a6268;
    border-color: #545b62;
  }
  .box.valutabot .btn:focus, .box.valutabot .btn.focus {
    box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
  }
    */
    .box.valutabot>a{
        color: #5a6268;
    }
.box.valutabot>a:visited{
    color: #888888;
}

.used-tech {
    padding: 2em;
}

.used-tech img {
    max-height: 100px;
}

.used-tech figure {
    text-align: center;
}

@media (max-width: 767px){
    .info-box .col-12:first-child {
        padding-top: 0;
    }

    .info-box .col-12 {
        padding-top: 10px;
        border-left: none;
        border-bottom: 1px solid rgba(169,170,188,.356);
        padding-bottom: 10px;
    }
    .info-box .col-12:last-child {
        border-bottom: none;
    }
}

.referencia>header,
#kapcsolat>header {
    background-color: #0068e8; /* Kontasztosabb! */
    text-align: center;
    color: #fff;
    padding: 2.4em 0;
}
.referencia .info,
#kapcsolat .contact{
    padding: 3em 0;
}

.referencia .info .image,
.referencia .info .content {
    align-self: center;
}

.referencia .info .content {
  text-align: justify;
}

.referencia .info figure,
.referencia .more-image figure {
  text-align: center;
}

.referencia .more-image {
    padding: 2em 0;
    background-color: #0068e8; /* Kontasztosabb! */
    color: #fff;
}


/* Kapcsolat oldal  */

textarea {
    overflow: auto;
    resize: vertical;
  }

  #kapcsolat .contact ul{
      list-style: none;
      padding: 0;
  }

  #kapcsolat .contact ul li{
      padding: .7em .4em;
  }

  #kapcsolat .contact ul li>i{
      font-size: 2em;
      margin-right: .2em;
      color: #0072ff;
  }
  #kapcsolat .contact ul li>a{
      color: #0072ff;
  }
  #kapcsolat .contact ul li>a:visited{
    color: #6caeff;
  }

/* Kapcsolat oldal  VÉGE */

body>footer {
    color: #fff;
    background-color: #454655;
    padding: 2em;
    text-align: center;
}

body>footer .social-icons {
    margin: 40px auto;
}

body>footer .social-icons a {
    color: #fff;
    font-size: 1.5em;
    margin: .4em;
}

@media only print {
    body{
        font-family: "Times New Roman", serif;
        color: #000;
        background-color: #fff;
        margin: 2cm;
    }

    a::after {
        content: "\A(" attr(href) ")";
        white-space: pre;
	}
	
    nav, body>footer {
        display: none;
    }
    #home header {
        background-image: none;
        min-height: 100px;
        display: block;
        color: black;
    }

    #home header img {
        max-width: 80px;
        padding-bottom: 0;
    }

    #home header h1{
        margin: 0;
    }

    #home header #iam::after {
        content: ", Tanuló, Blogger";
    }

    .my-info,
    .my-info .info-box {
        color: #000;
    }

    .about-me{
        color: #000;
        page-break-before: always;
    }

    #referenciak,
    #projektek{
        color: #000;
        page-break-before: always;
    }

    #referenciak .header,
    #projektek .header{
        color: #000;
    }

    #referenciak a,
    #projektek a {
        text-decoration: none;
        color: #000 !important;
        text-align: center;
    }

    .box {
        height: 8em;
        margin: 1.3em 0;
      }

      .referencia .info a{
          text-align: center;
      }
}


html.gyengenlato{
  background-color: #000 !important;
  color: #ff0 !important;
  font-size: 2em;
}

html.gyengenlato  [class*="col-"]{
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

html.gyengenlato main#kapcsolat form [class*="col-"]{
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}
@media (max-width: 380px){
  html.gyengenlato main#kapcsolat form [class*="col-"]{
    -ms-flex: 0 0 100% !important;
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
  html.gyengenlato main#kapcsolat form .text-right{
    margin-top: 1em;
    text-align: left !important;
  }
}


html.gyengenlato body{
  background-color: #000;
  word-break: break-word;
}

html.gyengenlato header{
  background: none !important;
  color: #ff0 !important;
}

html.gyengenlato .my-info,
html.gyengenlato .about-me,
html.gyengenlato .referencia .info,
html.gyengenlato .referencia .more-image,
html.gyengenlato .referencia .used-tech,
html.gyengenlato #referenciak,
html.gyengenlato #projektek,
html.gyengenlato footer{
   border-top:  4px dotted #ff0;
}

/* html.gyengenlato section .header{
  border-top:  4px dotted #ff0;
  border-bottom:  4px dotted #ff0;
} */

html.gyengenlato .my-info,
html.gyengenlato .my-info .info-box,
html.gyengenlato .my-info .info-box .content,
html.gyengenlato .referencia .more-image,
html.gyengenlato #referenciak .header,
html.gyengenlato #projektek .header,
html.gyengenlato .about-me,
html.gyengenlato footer a,
html.gyengenlato footer {
  background: #000;
  color: #ff0;
}

html.gyengenlato .my-info .info-box .col-12{
  border:none;
}

html.gyengenlato .my-info>.container {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}

html.gyengenlato .box{
  height: auto;
}

html.gyengenlato #referenciak .labonbon,
html.gyengenlato #referenciak .labonbon a,
html.gyengenlato #referenciak .petofi-aszod,
html.gyengenlato #referenciak .petofi-aszod a,
html.gyengenlato #referenciak .kreativ-otletek,
html.gyengenlato #referenciak .kreativ-otletek a,
html.gyengenlato #referenciak .kreativ-otletek,
html.gyengenlato #referenciak .lgelegancia a,
html.gyengenlato #referenciak .lgelegancia,
html.gyengenlato #projektek .itnyelven a,
html.gyengenlato #projektek .valutabot a,
html.gyengenlato #projektek .itnyelven,
html.gyengenlato #projektek .valutabot {
  background: #000;
  color: #ff0;
}

html.gyengenlato #referenciak .labonbon a:visited,
html.gyengenlato #referenciak .petofi-aszod a:visited,
html.gyengenlato #referenciak .kreativ-otletek a:visited,
html.gyengenlato #referenciak .lgelegancia a:visited,
html.gyengenlato #projektek .itnyelven a:visited,
html.gyengenlato #projektek .valutabot a:visited {
  color: #efef68;
}

html.gyengenlato main#kapcsolat form [type="checkbox"],
html.gyengenlato main#kapcsolat form [type="radio"]{
  height: 3em;
  width: 3em;
}

html.gyengenlato main#kapcsolat form .btn-primary,
html.gyengenlato main#kapcsolat form .btn-secondary {
  color: #ff0;
  background-color: #000;
  border-color: #ff0;
}

html.gyengenlato main#kapcsolat .contact ul li>i{
  font-size: 2em;
  margin-right: .2em;
  color: #ff0;
}
html.gyengenlato main#kapcsolat .contact ul li>a{
  color: #ff0;
}
html.gyengenlato main#kapcsolat .contact ul li>a:visited{
color: #efef68;
}

